.database-list {
  border-bottom: 1px solid #E5E5E5;
  font-size: .40rem;
  padding: .12rem 0;

  li {
    display: inline-block;
    margin-left: .2rem;
    border-radius: 100px;
    border: 1px solid #E5E5E5;
    list-style-type:none;
    padding: .1rem .2rem;
  }
}
